/allsyms
/symval
/size
/filefix
*.o
*.obj
*~
.*.swp
vs2019/x64
vs2019/Debug
vs2019/Release
vs2019/allsyms/x64
vs2019/allsyms/Debug
vs2019/allsyms/Release
vs2019/allsyms/*.user
vs2019/filefix/x64
vs2019/filefix/Debug
vs2019/filefix/Release
vs2019/filefix/*.user
vs2019/size/x64
vs2019/size/Debug
vs2019/size/Release
vs2019/size/*.user
vs2019/symval/x64
vs2019/symval/Debug
vs2019/symval/Release
vs2019/symval/*.user
vs2019/jag_utils.sln
.vs
